@charset "UTF-8";
/* переменные */
/* modern-normalize css */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}

/* mixins */
/* body / section / container */
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #FFFFFF;
  letter-spacing: 0.03em;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

::-moz-selection {
  color: #FFFFFF;
  background-color: rgb(0, 162, 226);
}

::selection {
  color: #FFFFFF;
  background-color: rgb(0, 162, 226);
}

::-moz-selection {
  color: #FFFFFF;
  background-color: rgb(0, 162, 226);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 162, 226);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* reset css */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  max-width: 100%;
  height: auto;
}

svg {
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .logo {
    font-size: 24px;
  }
}

.logo__accent {
  color: #2196F3;
}

/* header / nav */
.header__container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__container {
    padding: 8px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: baseline;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}

header.header {
  border-bottom: 1px solid #ECECEC;
}

.header__list-link {
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__list-link:focus, .header__list-link:hover {
  color: #2196F3;
}

.header__list-link--current {
  color: #2196F3;
}
.header__list-link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.header__list {
  display: flex;
}

.header__list .header__list-item {
  margin-right: 50px;
}
.header__list .header__list-item:last-child {
  margin-right: 0;
}

.header__list .header__list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-contact__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:focus, .header-contact__link:hover {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .header-contact__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__link {
    font-size: 14px;
  }
}

.header-contact__item {
  margin-right: 30px;
}
.header-contact__item:last-child {
  margin-right: 0;
}

.header-contact .header-contact__link {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .header-contact .header-contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contact__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.header-contact__icon:focus, .header-contact__icon:hover {
  fill: #2196F3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__icon--tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__icon--mail {
    width: 14px;
    height: 10px;
  }
}

.icon-menu {
  border: none;
  background-color: #FFFFFF;
  margin-left: auto;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-menu:focus, .icon-menu:hover {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

/* mobile-menu */
.menu {
  display: none;
}

.menu.is-open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  z-index: 1;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.icon-close-btn {
  position: absolute;
  margin-left: auto;
  top: 0;
  right: 0;
  border: none;
  padding: 16px 14px;
  background-color: #FFFFFF;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-btn:focus, .icon-close-btn:hover {
  fill: #2196F3;
}

.menu-list {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.menu-list__item {
  padding-top: 42px;
}
.menu-list__item:first-child {
  padding-top: 0;
}

.menu-list__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:focus, .menu-list__link:hover {
  color: #2196F3;
}
.menu-list__link--current {
  color: #2196F3;
}

.menu-contact {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu-contact__item {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-top: 300px;
  margin-bottom: 32px;
}
.menu-contact__item:last-child {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  color: #757575;
}

.menu-contact__link--active {
  color: #2196F3;
}

.menu-contact__link {
  color: #757575;
}

.menu-soc {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 64px;
}

.menu-soc__item {
  position: relative;
}

.menu-soc__item:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.menu-soc__link {
  padding: 22px 0px;
  color: #2196F3;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
}

/* hero section */
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-background {
  margin: 0 auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.418), rgba(47, 48, 58, 0.418)), url(../images/hero/hero-image-mob.jpg);
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.418), rgba(47, 48, 58, 0.418)), url(../images/hero/hero-image-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.418), rgba(47, 48, 58, 0.418)), url(../images/hero/hero-image-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.418), rgba(47, 48, 58, 0.418)), url(../images/hero/hero-image-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.418), rgba(47, 48, 58, 0.418)), url(../images/hero/hero-image.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.418), rgba(47, 48, 58, 0.418)), url(../images/hero/hero-image-2x.jpg);
  }
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 480px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 690px;
  }
}

.hero__btn {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: transparent;
  text-align: center;
  padding: 10px 24px;
  border-radius: 4px;
  min-width: 152px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover {
  background-color: #1d8ae4;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    min-width: 205px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
    min-width: 215px;
  }
}

/* feature section */
.feature__title {
  text-align: center;
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__desc {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .feature__desc {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .feature__desc {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__desc {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.feature__item {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .feature__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .feature__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    display: flex;
    flex-direction: column;
  }
}

.feature__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .feature__icon {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .feature__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__icon {
    width: 270px;
  }
}

/* work section */
.work {
  padding-top: 0;
}

.work__div {
  position: relative;
}

.work__text {
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  width: calc((100% - 60px) / 3);
}

.work__img {
  max-width: 100%;
  height: auto;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

/* team section */
.team {
  color: #757575;
  background-color: #F5F4FA;
}

.team__title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team__text,
.team__desc {
  font-size: 16px;
  line-height: 1.189;
}

.team__text {
  color: #212121;
  font-weight: 500;
  margin-bottom: 10px;
}

.team__desc {
  color: #757575;
  margin-bottom: 16px;
}

.team__div {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0px;
  }
}

.icon__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon__link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__link:focus, .icon__link:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}

.team__img {
  width: 100%;
}

/* clients section */
.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }
}

.client__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.client__title {
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.8;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) {
  .client__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.client__link:focus, .client__link:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

/* footer / form */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: center;
    align-items: baseline;
  }
}

.footer__item {
  margin-bottom: 9px;
  text-align: center;
}
.footer__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .footer__item {
    text-align: start;
  }
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus, .footer__link:hover {
  color: #2196F3;
}

.footer__logo {
  display: block;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-style: normal;
}
@media screen and (min-width: 320px) {
  .footer__logo {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.logo__accent {
  color: #2196F3;
}

.footer__link--address {
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer__link--address {
    width: 210px;
  }
}

.footer__address {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.footer-icon__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-icon__title {
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-icon {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icon {
    margin-right: 93px;
  }
}

.footer-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon__link:focus, .footer-icon__link:hover {
  background-color: #2196F3;
}

.footer-icon__list {
  display: flex;
  height: 100%;
  gap: 10px;
  justify-content: center;
}

.footer-icon__link {
  fill: currentColor;
}

.footer-input__title {
  display: block;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-input__title {
    text-align: start;
  }
}

.footer-input__form {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-input__form {
    display: flex;
    align-items: center;
  }
}

.footer-input__text {
  max-width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-input__text {
    max-width: 250px;
  }
}

.footer-input__form input {
  background-color: #2F303A;
  color: #FFFFFF;
  padding: 15px 16px;
  width: 450px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input__form input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input__form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input__form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer-input__form input {
    margin-right: 12px;
    width: 358px;
  }
}

.footer-input__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 10px;
  border: transparent;
  padding: 10px 28px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 20px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input__btn:hover {
  background-color: #1d8ae4;
}
@media screen and (min-width: 1200px) {
  .footer-input__btn {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}

.footer-input__img {
  fill: currentColor;
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 290px;
  min-height: 560px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close {
  fill: currentColor;
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: var(--container-bg-color);
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.modal__btn:hover {
  color: #2196F3;
}

.form {
  width: 210px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .form {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.form__label input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px;
  padding-left: 40px;
  outline: none;
}

.form__label {
  color: #757575;
  margin-top: 10px;
}
.form__label:first-child {
  margin-top: 0;
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label textarea {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
}
textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* -------------------- Checkbox -------------------- */
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.6;
  }
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 7px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .checkbox__icon {
    width: 26px;
    height: 15px;
  }
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196F3;
  border-color: #2196F3;
  background-image: url(../images/svg/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.checkbox__link {
  color: #2196F3;
  text-decoration: underline;
  margin-left: 5px;
}

.form__btn {
  display: block;
  margin: 0 auto;
  background-color: #2196F3;
  color: #FFFFFF;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  text-align: center;
  min-width: 200px;
  cursor: pointer;
  line-height: 1.88;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover {
  background-color: #188CE8;
}

.form__input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  border: 1px solid #2196F3;
}
.form__input:focus ~ .form__icon {
  fill: #2196F3;
}

/* portfolio.html */
.portfolio__btn {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:focus, .portfolio__btn:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(138, 107, 107, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  margin-bottom: 40px;
  max-width: 350px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    max-width: none;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    max-width: none;
    flex-wrap: nowrap;
  }
}

.project-list__div {
  position: relative;
  overflow: hidden;
}

.project-list__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
@media screen and (min-width: 320px) {
  .project-list__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .project-list__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project-list__text {
    width: 370px;
  }
}

.project-list__link {
  display: block;
  background-color: #FFFFFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__link:hover .project-list__text, .project-list__link:focus .project-list__text {
  transform: translateY(0);
}
.project-list__link:hover, .project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .project-list {
    justify-content: space-between;
  }
}

.project-list__item {
  background-color: #FFFFFF;
  flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    flex-basis: calc((100% - 60px) / 4);
  }
}

.project {
  padding: 20px 24px;
  width: 450px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px) {
  .project {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: 370px;
  }
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.project__desc {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}/*# sourceMappingURL=main.css.map */