.client__list {
    display: flex;
    gap: 30px;
}

.client__item {
    flex-basis: calc((100% - 5 * 30px) / 6);
}

.client__title {
    text-align: center;
    color: var(--a-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--svgcolor);
    border: 1px solid var(--svgcolor);
    border-radius: 4px;
    padding: 16px 32px;
    transition: color var(--duration) var(--cubic-bezier),
    border var(--duration) var(--cubic-bezier);
}

.client__link {
    fill: currentColor;

    &:focus,
    &:hover {
        color: var(--raleway-color);
        border: 1px solid var(--raleway-color);
    }
}

