.feature {
    // padding-top: 60px;
    padding-bottom: 0;
}

.feature__title {
    text-align: center;
    color: $a-color;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 10px;
    width: 100%;

    @include tablet {
        text-align: start;
    }
}

.feature__desc {
    font-size: 14px;
    line-height: 1.71;
    color: $proj-category;
    width: 100%;

    @include tablet {
        width: 354px;
    }
    
    @include desktop {
        width: 270px;
    }
}

.feature__list {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
        @include desktop {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.feature__item {
    margin-bottom: 30px;
    width: 100%;

    @include tablet {
        width: calc((100% - 30px) / 2);
        margin-bottom: 0;
    }

    @include desktop {
        display: flex;
        flex-direction: column;
    }

    &:last-child {
    margin-bottom: 60px;

        @include tablet {
            margin-bottom: 60px;
        }

        @include desktop {
            margin-bottom: 0;
        }
    }
}

.feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 120px;
    background-color: $sectbg-color;
    border-radius: 4px;
    margin-bottom: 30px;

    @include tablet {
        width: 354px;
    }

    @include desktop {
        width: 270px;
    }
}