.footer {
    background-color: var(--bgmain-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    align-items: center;
    align-items: baseline;
}

.footer__list {
    margin-bottom: 0;
    padding-bottom: 0px;
}

.footer__item {
    margin-bottom: 9px;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-color);
    display: block;
    transition: color var(--duration) var(--cubic-bezier);
}

.footer__logo {
    display: block;
    color: var(--navbg-color);
    margin-bottom: 20px;
    font-style: normal;
}

.logo__accent {
    color: var(--raleway-color);
}

.footer__link--address {
    color: var(--navbg-color);
}

.footer__link:hover,
.footer__link:focus {
    color: var(--raleway-color);
}

.footer__address {
    display: flex;
    margin-right: 70px;
}

.footer-icon__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--navbg-color);
    margin-bottom: 20px;
}

.footer-icon {
    margin-right: 93px;
}

.footer-icon__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--navbg-color);
    background-color: var(--footer-svg-color);
    transition: background-color var(--duration) var(--cubic-bezier);
}

.footer-icon__list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.footer-icon__item {
    fill: currentColor;
}

.footer-icon__link:hover,
.footer-icon__link:focus {
    background-color: var(--raleway-color);
}

.footer-input__title {
    display: block;
    color: var(--navbg-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-input__form {
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-input__form input {
    background-color: var(--bgmain-color);
    color: var(--navbg-color);
    padding: 15px 16px;
    width: 358px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    border: transparent;
    padding: 10px 28px;
    background-color: var(--raleway-color);
    color: var(--navbg-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--duration) var(--cubic-bezier);
}

.footer-input__btn:hover {
    background-color: var(--btnhover-color);
}

.footer-input__img {
    fill: currentColor;
}

.footer-input__form input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--footer-color);
}