.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

header.header {
    border-bottom: 1px solid var(--navborder-color);
}

.header__list-link {
    position: relative;
    color: var(--a-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color var(--duration) var(--cubic-bezier);

    &:focus,
    &:hover {
        color: var(--raleway-color);
    }
}

.header__list-link--current {
    color: var(--raleway-color);

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--raleway-color);
        border-radius: 2px;
    }
}


.header__list {
    display: flex;
    margin-left: 93px;
}

.header__list .header__list-item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.header__list .header__list-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact .header-contact__item {
    margin-right: 0;
    margin-left: 50px;
}

.header-contact__link {
    color: var(--proj-category);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color var(--duration) var(--cubic-bezier);

    &:focus,
    &:hover {
        color: var(--raleway-color);
    }
}

.header-contact .header-contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contact__icon {
    margin-right: 10px;
    transition: fill var(--duration) var(--cubic-bezier);
    fill: currentColor;

    &:focus,
    &:hover {
        fill: var(--raleway-color);
    }
}

