.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

header.header {
    border-bottom: 1px solid var(--navborder-color);
}

.header-list__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--raleway-color);
    border-radius: 2px;
}

.header-list__link {
    position: relative;
    color: var(--a-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color var(--duration) var(--cubic-bezier);
}

.header-list__link:hover,
.header-list__link:focus {
    color: var(--raleway-color);
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list .header-list__item {
    margin-right: 50px;
}

.header-list__item:last-child {
    margin-right: 0;
}

.header-list .header-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-list {
    display: flex;
    margin-left: auto;
}

.nav-list .nav-list__item {
    margin-right: 0;
    margin-left: 50px;
}

.nav-list__link {
    color: var(--proj-category);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color var(--duration) var(--cubic-bezier);
}

.nav-list__link:hover,
.nav-list__link:focus {
    color: var(--raleway-color);
}

.nav-list .nav-list__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-list__icon {
    margin-right: 10px;
    transition: fill var(--duration) var(--cubic-bezier);
    fill: currentColor;
}

.nav-list__icon:hover,
.nav-list__icon:focus {
    fill: var(--raleway-color);
}
