.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-background {
    margin: 0 auto;
    background-color: $herobg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // width: 100%;
    background-image: linear-gradient(to right, $gradient, $gradient), url(../images/hero/hero-image-mob.jpg);
    @include mobile {
        @include retina {
            background-image: linear-gradient(to right, $gradient, $gradient), url(../images/hero/hero-image-mob-2x.jpg);
        }
    }

    @include tablet {
            background-image: linear-gradient(to right, $gradient, $gradient), url(../images/hero/hero-image-tab.jpg);
        @include retina {
            background-image: linear-gradient(to right, $gradient, $gradient), url(../images/hero/hero-image-tab-2x.jpg);
        }
    }

    @include desktop {
            background-image: linear-gradient(to right, $gradient, $gradient), url(../images/hero/hero-image.jpg);
            max-width: 1600px;
        @include retina {
            background-image: linear-gradient(to right, $gradient, $gradient), url(../images/hero/hero-image-2x.jpg);
        }
    }
}

.hero__title {
    color: $navgb-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    // text-align: center;
    margin-bottom: 30px;
    max-width: 480px;

    @include desktop {
        font-size: 44px;
        max-width: 690px;
    }
}

.hero__btn {
    color: $navgb-color;
    background-color: $raleway-color;
    user-select: none;
    -moz-user-select: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    border-color: transparent;
    text-align: center;
    padding: 10px 24px;
    border-radius: 4px;
    min-width: 152px;
    box-shadow: 0px 4px 4px $hero-shadow;
    transition: background-color $duration $cubic-bezier;

    &:hover {
        background-color: $btnhover-color;
    }

    @include tablet {
        min-width: 205px;
    }

    @include desktop {
        padding: 10px 32px;
        min-width: 215px;
    }
}