.menu {
    display: none;
}

.menu.is-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 48px;
    z-index: 1;
    background-color: $navgb-color;
    overflow-x: hidden;
}

.icon-close-btn {
    position: absolute;
    margin-left: auto;
    top: 0;
    right: 0;
    border: none;
    padding: 16px 14px;
    background-color: $navgb-color;
    fill: currentColor;
    transition: fill $duration $cubic-bezier;

        &:focus,
        &:hover {
            fill: $raleway-color;
        }
}

.menu-list {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.menu-list__item {
    padding-top: 42px;
    &:first-child {
        padding-top: 0;
    }
}

.menu-list__link {
    color: $a-color;
    transition: color $duration $cubic-bezier;

    &:focus,
    &:hover {
        color: $raleway-color;
    }

    &--current {
        color: $raleway-color;
    }
}

.menu-contact {
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.menu-contact__item {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-top: 300px;
    margin-bottom: 32px;
    &:last-child {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        color: $proj-category;
    }
}


.menu-contact__link--active {
    color: $raleway-color;
}

.menu-contact__link {
    color: $proj-category;
}

.menu-soc {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 64px;
}

.menu-soc__item {
    position: relative;
}

.menu-soc__item:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
}

.menu-soc__link {
    padding: 22px 0px;
    color: $raleway-color;
    margin-right: 10px;
    margin-left: 10px;
}