.team {
    color: $proj-category;
    background-color: $sectbg-color;
}

.team__title {
    margin-bottom: 30px;
    color: $a-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;

    @include desktop {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.team__text,
.team__desc {
    font-size: 16px;
    line-height: 1.189;
}
.team__text {
    color: $a-color;
    font-weight: 500;
    margin-bottom: 10px;
}

.team__desc {
    color: $proj-category;
    margin-bottom: 16px;
}

.team__div {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.team__item {
    background-color: $navgb-color;
    box-shadow: $team-shadow;
    border-radius: 0px 0px 4px 4px;

    @include tablet {
        width: calc((100% - (1 * 30px)) / 2);
        margin-bottom: 0px;
    }

    @include desktop {
        width: calc((100% - (3 * 30px)) / 4);
        margin-bottom: 0px;
    }
}

.icon__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon__link {
    transition: fill $duration $cubic-bezier;
    fill: currentColor;
}

.icon__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $svgcolor;
    transition: color $duration $cubic-bezier, 
    background-color $duration $cubic-bezier;

    &:focus,
    &:hover {
        background-color: $raleway-color;
        color: $navgb-color;
    }
}

.team__item {
    margin-bottom: 30px;
    // &:last-child {
    //     margin-bottom: 0;
    // }
}

.team__img {
    width: 100%;
    height: auto;

    // @include tablet {
    //     width: 354px;
    //     height: 374px;
    // }

    // @include desktop {
    //     width: 270px;
    //     height: 260px;
    // }
}