p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    max-width: 100%;
    height: auto;
}

svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}