$font: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$letter: 0.03em;
$navgb-color: #FFFFFF;
$logo-color: #000000;
$raleway-color: #2196F3;
$a-color: #212121;
$btnhover-color: #1d8ae4;
$butshadow: rgba(0, 0, 0, 0.15);
$bgmain-color: #2F303A;
$sectbg-color: #F5F4FA;
$footer-color: rgba(255, 255, 255, 0.6);
$navborder-color: #ECECEC;
$proj-category: #757575;
$proj-border-color: #EEEEEE;
$gradient: rgba(47, 48, 58, 0.418);
$svgcolor: #AFB1B8;
$footer-svg-color: rgba(255, 255, 255, 0.1);
$portfolio-w: rgba(33, 150, 243, 0.9);
$duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$form-btn: #188CE8;
$textarea: rgba(117, 117, 117, 0.5);
$textarea-border: rgba(33, 33, 33, 0.2);
$herobg-color: #c4c4c4;
$hero-shadow: rgba(0, 0, 0, 0.15);
$team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$work-bg: rgba(47, 48, 58, 0.8);
$selection: rgb(0, 162, 226);
$backdrop-background: rgba(0, 0, 0, 0.2);


// :root {
//     --navbg-color: #FFFFFF;
//     --logo-color: #000000; 
//     --raleway-color: #2196F3;
//     --a-color: #212121;
//     --btnhover-color: #1d8ae4;
//     --butshadow: rgba(0, 0, 0, 0.15);
//     --bgmain-color: #2F303A;
//     --sectbg-color: #F5F4FA;
//     --footer-color: rgba(255, 255, 255, 0.6);
//     --navborder-color: #ECECEC;
//     --proj-category:  #757575;
//     --proj-border-color: #EEEEEE;
//     --gradient: rgba(47, 48, 58, 0.418);
//     --svgcolor: #AFB1B8;
//     --footer-svg-color: rgba(255, 255, 255, 0.1);
//     --portfolio-w: rgba(33, 150, 243, 0.9);
//     --duration: 250ms;
//     --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
//     --form-btn: #188CE8;
//     --textarea: rgba(117, 117, 117, 0.5);
//     --textarea-border: rgba(33, 33, 33, 0.2);
// }